<div class="background-image">	
	<br /><br /><br /><br />
	<span class="header">Welcome To</span><br />
	<span class="header"><strong style="margin-left:100px">Poker Rails</strong></span>
	<%= render 'devise/registrations/form' %>
</div>