<div class="background-image">	
	<br /><br /><br /><br />
	<span class="header">Welcome To</span><br />
	<span class="header"><strong style="margin-left:100px">Poker Rails</strong></span>
	<br /><br /><br />
	<div class="sign_up_block">
		<%= render 'devise/registrations/form' %>
	</div>	
</div>