<div class="background-image">	
	<br /><br /><br /><br />
	<span class="header">Welcome To</span><br />
	<span class="header"><strong style="margin-left:100px">Poker Rails</strong></span>
	<br /><br /><br />
	<% if !current_user %>
		<div class="sign_up_block">
			<%= render 'devise/registrations/form' %>
		</div>	
	<% else %>
		<div class="btn btn-primary" style="width:150px;height:20px;margin-left:200px;">
			<%= link_to 'Play Now', play_index_path %>
		</div>
	<% end %>
</div>