/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	font-family: Serif;
}

.background-image{
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background-image:url('1591221.jpg');
	background-position:fixed;
}

.header{
	color:white;
	font-size:40px;
	margin-left:160px;
}

.sign_up_block{
	color:white;
	margin-left:160px;
}
