/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require_tree .
 */

body {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	font-family: Serif;	
}

.background-image {
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background-image:url('1591221.jpg');
}
.table_bg{
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background-image:url('poker-table.png');
	background-position: center;
	background-repeat:no-repeat;
	background-color:black;
}
.header {
	color:white;
	font-size:40px;
	margin-left:160px;
}

.logged {
	color:white;
	font-size:16px;
	margin-left:160px;
	font-family: Serif;
	font-weight:bold;
}

.sign_up_block {
	color:white;
	margin-left:160px;
}

.play_table{
	width:100%;
	height:78%;
	vertical-align:middle;
}

.player_card{
	position: fixed; 
	bottom: 0;
	margin-left:50%; 
}

.hand_card{
	width:46px;
	height:58px;
}

.footer {
    position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
	text-align:center;
}
